- org = Organization.find_by_name(job)
- if org.kind == "Services Team" || org.name == "Product Management"
  - goal = org.scrum_support(@organization)
%strong
  = job
- if goal
  = health_indicator(goal)
- @organization.people_in_job(job).each do |person|
  %br
  = person.fullname
  
